    <!-- Footer-->
    <footer class="footer bg-dark pt-5 pt-md-6">
        <div class="container pt-3 pt-md-0">
            <div class="row pb-3">
                <div class="col-lg-4 col-md-4 pe-4 pb-3 pb-md-0 mb-4">
                    <div class="widget widget-light">
                        <h4 class="widget-title">FIRES.watch</h4>
                        <p class="fs-sm text-light opacity-60 pb-2 pb-sm-3">An online tool to quickly calculate your F.I.R.E Stock portfolio.</p>
                    </div>
                </div>
            </div>
            <hr class="my-0 border-light">
            <div class="row align-items-center mt-3 py-4">
                <div class="col-md-6 order-md-1 mb-3">
                    <p class="fs-sm mb-0">
                        <span class="text-light opacity-50 me-1">Made by</span><a class="nav-link-style nav-link-light" href="https://github.com/thijsh" target="_blank">Thijs Houtenbos</a> and <a class="nav-link-style nav-link-light" href="https://www.raoulcapello.com/" target="_blank">Raoul Capello</a>.
                    </p>
                </div>
            </div>
        </div>
    </footer>
