{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}FIRES.watch | An online tool to quickly calculate your F.I.R.E stock portfolio.{% endblock title %}</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="F.I.R.E.S.watch is an online tool to quickly calculate your F.I.R.E Stock portfolio.">
    <meta name="keywords" content="financial independence early retirement stock calculator watcher tracker monitor dashboard">
    <meta name="author" content="Thijs Houtenbos, Raoul Capello">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Web Manifest -->
    <link rel="manifest" href="{% static 'images/favicons/manifest.json' %}">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
    <link rel="mask-icon" color="#5bbad5" href="{% static 'images/favicons/safari-pinned-tab.svg' %}">
    <meta name="msapplication-TileColor" content="#766df4">
    <meta name="theme-color" content="#ffffff">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% block css %}
    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" href="{% static 'css/simplebar.min.css' %}" />
    {% block vendor_styles %}{% endblock vendor_styles %}
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="{% static 'css/theme.min.css' %}">
    <!-- F.I.R.E.S Stylesheet -->
    <link rel="stylesheet" media="screen" href="{% static 'css/fires.css' %}">
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
    {% endblock javascript %}

</head>

<body>

    <main class="page-wrapper">

        {% include 'partials/_navbar_top.html' %}

        {% include 'partials/_messages.html' %}

        {% block page_content %}
        <!-- Page content-->
        <div class="container d-flex flex-column pt-5" style="flex: 1 0 auto;">
            {% block content %}This is not the content you're looking for.{% endblock content %}
        </div> <!-- /.container -->
        {% endblock page_content %}

    </main>

    {% include 'partials/_footer.html' %}

    <!-- Back to top button-->
    <a class="btn-scroll-top" href="#top" data-scroll data-fixed-element>
        <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
        <i class="btn-scroll-top-icon ai-arrow-up"></i>
    </a>

    {% block modal %}{% endblock modal %}

    <!-- Vendor scripts: JS libraries and plugins-->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/simplebar.min.js' %}"></script>
    <script src="{% static 'js/smooth-scroll.polyfills.min.j' %}s"></script>
    {% block vendor_scripts %}{% endblock vendor_scripts %}
    <!-- Main theme script-->
    <script src="{% static 'js/theme.min.js' %}"></script>

    {% block inline_javascript %}
    {# Script tags with only code, no src (defer by default) #}
    {% endblock inline_javascript %}
</body>

</html>
