        {% extends "base.html" %}
        {% load static i18n %}

        {% block page_content %}

        <!-- F.I.R.E.S.calculator -->
        <div class="container mb-5">
            <div class="row">
                <div class="col-sm-6 mx-auto mb-5">
                    <div class="card card-hover">
                        <div class="card-body">

                            <h5 class="card-title">F.I.R.E.S. Calculator</h5>

                            <p class="card-text fs-sm">Calculate your Financial Independence Retirement age here.</p>

                            <form id="fires-calculator-form" class="needs-validation mt-5" onSubmit="return firesCalculate();" novalidate>

                                {% csrf_token %}

                                <!-- Birth Year -->
                                <div class="row align-items-center mb-3">
                                    <label for="birthyear-input" class="col-md-4 col-form-label">Birth Year</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="number" id="birthyear-input" min="1900" max="2021" placeholder="Your Birth Year" name="birth_year" value="1984" required>
                                        <div class="invalid-feedback">Please input your birth year as a number between 1900 and 2021.</div>
                                    </div> <!-- /.col-md-8 -->
                                </div> <!-- /. row -->

                                <!-- Retirement Duration In Years -->
                                <div class="row align-items-center mb-3">
                                    <label for="retirementduration-input" class="col-md-4 col-form-label">Retirement Duration In Years</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="number" id="retirementduration-input" min="1" max="99" placeholder="Your Retirement Duration In Years" name="years_duration" value="30" required>
                                        <div class="invalid-feedback">Please input your Retirement Duration In Years as a number between 1 and 99.</div>
                                    </div>
                                </div> <!-- /. row -->

                                <!-- Currency -->
                                <div class="row align-items-center mb-3">
                                    <label for="currency-input" class="col-md-4 col-form-label">Currency</label>
                                    <div class="col-md-8">
                                        <select class="form-select" id="currency-input" name="currency" required>
                                            <option value="">Choose option...</option>
                                            <option value="EUR" selected>EUR</option>
                                        </select>
                                        <div class="invalid-feedback">Please select your currency.</div>
                                    </div>
                                </div> <!-- /. row -->

                                <!-- Gross Income Per Year -->
                                <div class="row align-items-center mb-3">
                                    <label for="grossincomeperyear-input" class="col-md-4 col-form-label">Gross Income Per Year</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="number" id="grossincomeperyear-input" name="income_gross_per_year" min="0" placeholder="Your Gross Income Per Year" value="50000" required>
                                        <div class="invalid-feedback">Please input your Gross Income Per Year as a number greater than or equal to 0.</div>
                                    </div>
                                </div> <!-- /. row -->

                                <!-- Expenses Per Year -->
                                <div class="row align-items-center mb-3">
                                    <label for="portfoliointerestperyear-input" class="col-md-4 col-form-label">Expenses Per Year</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="number" id="expensesperyear-input" name="expenses_per_year" min="0" placeholder="Your Expenses Per Year" value="25000" required>
                                        <div class="invalid-feedback">Please input your Expenses Per Year as a number greater than or equal to 0.</div>
                                    </div>
                                </div> <!-- /. row -->

                                <!-- Portfolio Value -->
                                <div class="row align-items-center mb-3">
                                    <label for="portfoliovalue-input" class="col-md-4 col-form-label">Portfolio Value</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="number" id="portfoliovalue-input" name="portfolio_value" min="0" placeholder="Your Portfolio Value" value="100000" required>
                                        <div class="invalid-feedback">Please input your Portfolio Value as a number greater than or equal to 0.</div>
                                    </div>
                                </div> <!-- /. row -->

                                <!-- Portfolio Interest Per Year -->
                                <div class="row align-items-center mb-3">
                                    <label for="portfoliointerestperyear-input" class="col-md-4 col-form-label">Portfolio Interest Per Year</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="number" id="portfoliointerestperyear-input" name="portfolio_percentage_per_year" min="-100" max="100" placeholder="Your Portfolio Interest Per Year" value="10" required>
                                        <div class="invalid-feedback">Please input your Portfolio Interest Per Year as a number between -100 and 100.</div>
                                    </div>
                                </div> <!-- /. row -->

                                <!-- Inflation Percentage Per Year -->
                                <div class="row align-items-center mb-3">
                                    <label for="inflationpercentageperyear-input" class="col-md-4 col-form-label">Inflation Percentage Per Year</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="number" id="inflationpercentageperyear-input" name="inflation_percentage_per_year" min="-100" max="100" placeholder="Your Inflation Percentage Per Year" value="2" required>
                                        <div class="invalid-feedback">Please input your Inflation Percentage Per Year as a number between -100 and 100.</div>
                                    </div>
                                </div> <!-- /. row -->

                                <!-- Agree to Terms and Conditions -->
                                <div class="row align-items-center mt-4 mb-3">
                                    <div class="col-md-8 ms-auto">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="terms-and-conditions-input" name="terms-and-conditions" required>
                                            <label class="form-check-label" for="terms-and-conditions-input">Agree to terms and conditions</label>
                                            <div class="invalid-feedback">You must agree before submitting.</div>
                                        </div> <!-- /.form-check -->
                                    </div> <!-- /.col-md-8 -->
                                </div> <!-- /. row -->

                                <!-- Submit Button -->
                                <div class="row align-items-center mb-3">
                                    <div class="col-md-8 ms-auto">
                                        <button id="submit-fires-calculator-form" class="btn btn-primary my-3" type="submit" onsubmit="() => firesCalculate();">Calculate my retirement age!</button>
                                    </div> <!-- /.col-md-8 -->
                                </div> <!-- /. row -->

                            </form>

                        </div> <!-- /.card-body -->
                    </div> <!-- /.card -->
                </div> <!-- /.col-sm-6 -->

                <div class="col-sm-6 mx-auto">
                    <!-- Results -->
                    <div id="results-card" class="card card-hover d-none">
                        <div class="card-body">

                            <h5 class="card-title">Your Results</h5>

                            <p class="card-text fs-sm">Submit different values and compare your results!</p>

                            <ul class="list-unstyled mb-0">
                                <li class="d-flex pb-3 border-bottom">
                                    <i class="ai-clock fs-lg mt-2 mb-0 text-primary"></i>
                                    <div class="ps-3">
                                        <span class="fs-ms text-muted">Months</span>
                                        <p id="results-months" class="card-text fs-sm"><i>Fill in the form to the left to display these results.</i></p>
                                    </div>
                                </li>
                                <li class="d-flex pt-2 pb-3 border-bottom">
                                    <i class="ai-award fs-lg mt-2 mb-0 text-primary"></i>
                                    <div class="ps-3">
                                        <span class="fs-ms text-muted">Age</span>
                                        <p id="results-age" class="card-text fs-sm"><i>Fill in the form to the left to display these results.</i></p>
                                    </div>
                                </li>
                                <li class="d-flex pt-2">
                                    <i class="ai-star fs-lg mt-2 mb-0 text-primary"></i>
                                    <div class="ps-3">
                                        <span class="fs-ms text-muted">Portfolio Value</span>
                                        <p id="results-portfolio-value" class="card-text fs-sm"><i>Fill in the form to the left to display these results.</i></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- /.col-sm-6 -->

            </div> <!-- /.row -->
        </div> <!-- /.container -->

        {% endblock page_content %}

        {% block fires_scripts %}
        <script src="{% static 'js/fires-calculator.js' %}" defer></script>
        {% endblock fires_scripts %}
