        {% extends "base.html" %}
        {% load static i18n %}

        {% block vendor_styles %}
        {% comment %}
        <!-- Around Bootstrap Theme -->
        <link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}">
        {% endcomment %}
        <!-- F.I.R.E.S. Calculator-->
        <link rel="stylesheet" href="{% static 'css/fires-calculator.css' %}">
        {% endblock vendor_styles %}

        {% block javascript %}
        <!-- Resources -->
        <!-- Around Bootstrap Theme -->
        <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'js/shuffle.min.js' %}"></script>

        <!-- https://www.amcharts.com/demos/stacked-column-chart/ -->
        <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

        <!-- F.I.R.E.S. Calculator-->
        <script src="{% static 'js/fires-calculator-graph.js' %}" defer></script>
        <script src="{% static 'js/fires-calculator.js' %}" defer></script>
        {% endblock javascript %}

        {% block page_content %}

        <!-- F.I.R.E.S.calculator -->
        <div class="container my-5">

            <div class="row mb-5">
                <div class="col-sm-6 mx-auto">

                    <div class="card card-hover mb-5">
                        <div class="card-body">

                            <h5 class="card-title">F.I.R.E. Calculator</h5>

                            <p class="card-text fs-sm">Calculate your Financial Independence Retirement age here.</p>

                            <form id="fires-calculator-form" class="needs-validation mt-5" onSubmit="return firesCalculate();" novalidate>

                                {% csrf_token %}

                                <!-- Birth Year -->
                                <div class="row align-items-center mb-5">
                                    <label for="birthyear-input" class="col-md-5 col-form-label" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left" data-bs-trigger="hover" title="Your Birth Year" data-bs-content="Your birthyear is needed to calculate your retirement age based on the parameters you set below.">
                                        Your Birth Year
                                        <span class="ai-info ml-5 fs-5"></span>
                                    </label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="number" id="birthyear-input" min="1900" max="2021" placeholder="1999" name="birth_year" value="1999" required>
                                        <div class="invalid-feedback">Please input your birth year as a number between 1900 and 2021.</div>
                                    </div> <!-- /.col-md-7 -->
                                </div> <!-- /. row -->

                                <!-- Retirement Duration In Years -->
                                <div class="row align-items-center mb-5 d-none">
                                    <label for="retirementduration-input" class="col-md-5 col-form-label" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left" data-bs-trigger="hover" title="Retirement Duration In Years" data-bs-content="Your estimated amount of years you want your retirement fund to last. The graph on the left will continue this many year after your calculated retirement age. A default of 30 years is recommended.">
                                        Retirement Duration In Years
                                        <span class="ai-info ml-5 fs-5"></span>
                                    </label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="number" id="retirementduration-input" min="1" max="99" placeholder="Your Retirement Duration In Years" name="years_duration" value="30" required>
                                        <div class="invalid-feedback">Please input your Retirement Duration In Years as a number between 1 and 99.</div>
                                    </div>
                                </div> <!-- /. row -->

                                <!-- Currency -->
                                <div class="row align-items-center mb-5 d-none">
                                    <label for="currency-input" class="col-md-5 col-form-label" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left" data-bs-trigger="hover" title="Currency" data-bs-content="Your preferred currency for the calculation output numbers.">
                                        Currency
                                        <span class="ai-info ml-5 fs-5"></span>
                                    </label>
                                    <div class="col-md-7">
                                        <select class="form-select" id="currency-input" name="currency" required>
                                            <option value="">Choose option...</option>
                                            <option value="EUR" selected>EUR</option>
                                        </select>
                                        <div class="invalid-feedback">Please select your currency.</div>
                                    </div>
                                </div> <!-- /. row -->

                                <!-- Yearly Gross Income-->
                                <div class="row align-items-center mb-5">
                                    <label for="grossincomeperyear-input" class="col-md-5 col-form-label" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left" data-bs-trigger="hover" title="Yearly Net Income" data-bs-content="Your current yearly net income (after taxes). Your income is not automatically inflation adjusted in the calculation to err on the safe side of caution.">
                                        Yearly Net Income
                                        <span class="ai-info ml-5 fs-5"></span>
                                    </label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="number" id="grossincomeperyear-input" name="income_gross_per_year" min="0" placeholder="30000" value="30000" required>
                                        <div class="invalid-feedback">Please input your Yearly Gross Income as a number greater than or equal to 0.</div>
                                    </div>
                                </div> <!-- /. row -->

                                <!-- Yearly Expenses -->
                                <div class="row align-items-center mb-5">
                                    <label for="portfoliointerestperyear-input" class="col-md-5 col-form-label" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left" data-bs-trigger="hover" title="Yearly Expenses" data-bs-content="Your current yearly expenses (all estimated expenses including food and recreation). Your expenses are inflation adjusted in the calculation to give a realistic estimate of retirement age. The amount you can add to your portfolio per year = income - expenses.">
                                        Yearly Expenses
                                        <span class="ai-info ml-5 fs-5"></span>
                                    </label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="number" id="expensesperyear-input" name="expenses_per_year" min="0" placeholder="20000" value="20000" required>
                                        <div class="invalid-feedback">Please input your Yearly Expenses as a number greater than or equal to 0.</div>
                                    </div>
                                </div> <!-- /. row -->

                                <!-- Portfolio Value -->
                                <div class="row align-items-center mb-5">
                                    <label for="portfoliovalue-input" class="col-md-5 col-form-label" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left" data-bs-trigger="hover" title="Current Portfolio Value" data-bs-content="Your current portfolio (consisting of savings, funds, and stock). Your portfolio will be grown over time with the estimated interest you enter below.">
                                        Current Portfolio Value
                                        <span class="ai-info ml-5 fs-5"></span>
                                    </label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="number" id="portfoliovalue-input" name="portfolio_value" min="0" placeholder="5000" value="5000" required>
                                        <div class="invalid-feedback">Please input your Current Portfolio Value as a number greater than or equal to 0.</div>
                                    </div>
                                </div> <!-- /. row -->

                                <!-- Yearly Portfolio Interest -->
                                <div class="row align-items-center mb-5">
                                    <label for="portfoliointerestperyear-input" class="col-md-5 col-form-label" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left" data-bs-trigger="hover" title="Yearly Portfolio Interest" data-bs-content="Estimate your future overall portfolio interest. For example: When investing in broad market ETFs a good estimate of interest is 10%.">
                                        Yearly Portfolio Interest
                                        <span class="ai-info ml-5 fs-5"></span>
                                    </label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="number" id="portfoliointerestperyear-input" name="portfolio_percentage_per_year" min="-100" max="100" placeholder="10" value="10" required>
                                        <div class="invalid-feedback">Please input your Yearly Portfolio Interest as a number between -100% and 100%.</div>
                                    </div>
                                </div> <!-- /. row -->

                                <!-- Yearly Inflation Percentage -->
                                <div class="row align-items-center mb-5">
                                    <label for="inflationpercentageperyear-input" class="col-md-5 col-form-label" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left" data-bs-trigger="hover" title="Yearly Inflation Percentage" data-bs-content="Estimate the future yearly inflation percentage. For example: In the EU and US inflation is expected to remain around 2% (1.5-3% range).">
                                        Yearly Inflation Percentage
                                        <span class="ai-info ml-5 fs-5"></span>
                                    </label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="number" id="inflationpercentageperyear-input" name="inflation_percentage_per_year" min="-100" max="100" placeholder="2" value="2" required>
                                        <div class="invalid-feedback">Please input your Yearly Inflation Percentage as a number between -100% and 100%.</div>
                                    </div>
                                </div> <!-- /. row -->

                                <!-- Risk Profile: Range slider -->
                                <div class="row align-items-center mb-3">

                                    <label for="riskprofile-input" class="col-md-5 col-form-label" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left" data-bs-trigger="hover" title="Your Risk Profile" data-bs-content="Your risk profile is the maximum percentage of your portfolio you are planning to withdraw per year. Enter a value between 1% and 10%. Based on historic market data 3% is very safe, and 8% is very risky. The recommended default for a safe retirement portfolio is 4%.">
                                        Your Risk Profile
                                        <span class="ai-info ml-5 fs-5"></span>
                                    </label>
                                    <div class="col-md-7">
                                        <div class="row">
                                            <!-- Range input -->
                                            <div class="col-5" id="range-slider-div">
                                                <input class="form-range" type="range" name="max_withdrawal_percentage_per_year" id="max_withdrawal_percentage_per_year" size="6" min="1" max="10" step="0.1" value="4" oninput="riskprofileOutput.value = max_withdrawal_percentage_per_year.value">
                                            </div>
                                            <div class="col-7">
                                                <!-- Input group with percent icon on the right -->
                                                <div class="input-group">
                                                    <input type="number" class="form-control" placeholder="4" min="1" max="10" step="0.1" id="riskprofileOutput" name="riskprofile-result" oninput="max_withdrawal_percentage_per_year.value = riskprofileOutput.value">
                                                    <span class="input-group-text">
                                                        <i class="ai-percent"></i>
                                                    </span>
                                                </div> <!-- /.input-group -->
                                            </div> <!-- /.col -->
                                        </div> <!-- /.row -->
                                    </div> <!-- /. col -->

                                </div> <!-- /.row -->

                                <!-- Privacy Statement -->
                                <div class="row align-items-center mb-3">
                                    <div class="col-md-7 ms-auto">
                                        <p class="card-text fs-sm">
                                            <i>
                                                The values you submit will not be visible to anyone, nor will they be saved, or shared with third parties.
                                            </i>
                                        </p>
                                    </div> <!-- /.col-md-7 -->
                                </div> <!-- /. row -->

                                <!-- Submit Button -->
                                <div class="row align-items-center mb-5">
                                    <div class="col-md-7 ms-auto text-center">

                                        <button id="submit-fires-calculator-form" class="btn btn-primary my-3" type="submit" onsubmit="() => firesCalculate();">Show my retirement age!</button>
                                    </div> <!-- /.col-md-7 -->
                                </div> <!-- /. row -->

                            </form>

                        </div> <!-- /.card-body -->
                    </div> <!-- /.card -->

                </div> <!-- /.col-sm-6 -->

                <div id="results-pane" class="col-sm-6 d-none">

                    <div class="row">
                        <div class="col">

                            <!-- Results -->
                            <div class="card card-hover mb-5">
                                <div class="card-body">

                                    <h5 class="card-title">Your Results</h5>

                                    <p class="card-text fs-sm">Submit different values and compare your results!</p>

                                    <div class="row">

                                        <div class="col-sm-6">

                                            <ul class="list-unstyled mb-0">
                                                <li class="d-flex pb-3" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" title="Years Until Retirement" data-bs-content="The number of years until your retirement portfolio has grown to a sufficient size that you can pay your inflation adjusted expenses and remain within your risk profile.">
                                                    <i class="ai-clock fs-lg mt-2 mb-0 text-primary"></i>
                                                    <div class="ps-3 text-sm-center">
                                                        <span class="fs-ms text-muted">Years Until Retirement</span>
                                                        <p id="results-months" class="card-text fs-lead fw-bold">N/A</p>
                                                    </div>
                                                </li>
                                            </ul> <!-- /.ul -->

                                        </div> <!-- /.col -->

                                        <div class="col-sm-6">

                                            <ul class="list-unstyled mb-0" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" title="Retirement Age" data-bs-content="Your age when your can retire based on the calculated portfolio. At this moment your inflation adjusted expenses are within your risk profile.">
                                                <li class="d-flex pb-3">
                                                    <i class="ai-award fs-lg mt-2 mb-0 text-primary"></i>
                                                    <div class="ps-3 text-sm-center">
                                                        <span class="fs-ms text-muted">Retirement Age</span>
                                                        <p id="results-age" class="card-text fs-lead fw-bold">N/A</p>
                                                    </div>
                                                </li>
                                            </ul> <!-- /.ul -->

                                        </div> <!-- /.col -->

                                        <div class="col-sm-6">

                                            <ul class="list-unstyled mb-0" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" title="Portfolio Value When Retiring" data-bs-content="The calculated value of your portfolio when you can retire.">
                                                <li class="d-flex pb-3">
                                                    <i class="ai-star fs-lg mt-2 mb-0 text-primary"></i>
                                                    <div class="ps-3 text-sm-center">
                                                        <span class="fs-ms text-muted">Portfolio Value When Retiring</span>
                                                        <p id="results-portfolio-value" class="card-text fs-lead fw-bold">N/A</p>
                                                    </div>
                                                </li>
                                            </ul> <!-- /.ul -->

                                        </div> <!-- /.col -->

                                        <div class="col-sm-6">

                                            <ul class="list-unstyled mb-0" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" title="Cost of Living" data-bs-content="Cost of Living when you retire adjusted for inflation.">
                                                <li class="d-flex pb-3">
                                                    <i class="ai-home fs-lg mt-2 mb-0 text-primary"></i>
                                                    <div class="ps-3 text-sm-center">
                                                        <span class="fs-ms text-muted">Cost of Living</span>
                                                        <p id="results-cost-of-living" class="card-text fs-lead fw-bold">N/A</p>
                                                    </div>
                                                </li>
                                            </ul> <!-- /.ul -->

                                        </div> <!-- /.col -->

                                    </div> <!-- /.row -->

                                </div> <!-- /.card-body -->
                            </div> <!-- /.card -->

                        </div> <!-- /.col -->
                    </div> <!-- /.row -->

                    <div class="row">
                        <div class="col">

                            <!-- Graph -->
                            <div class="card card-hover mb-5">
                                <div class="card-body">

                                    <p class="text-center">
                                        <span class="text-muted fs-xs">
                                            <i>
                                                Use the controls on top of the chart to zoom in to a particular period of time.<br>
                                                Drag the selected area left or right to move up or down the projected results.
                                            </i>
                                        </span>
                                    </p>

                                    <!-- https://www.amcharts.com/demos/stacked-column-chart/ -->
                                    <div id="chartdiv"></div>

                                    <p class="text-center mt-3">
                                        <span class="text-muted fs-xs">
                                            <i>
                                                Click on the colored squares to hide or show categories.
                                            </i>
                                        </span>
                                    </p>

                                </div> <!-- /.card-body -->
                            </div> <!-- /.card -->

                        </div> <!-- /.col -->
                    </div> <!-- /.row -->

                </div> <!-- /.col-sm-6 #result-pane -->

            </div> <!-- /.row -->

            <div class="row mb-5">
                <div class="col">

                    <!-- Masonry grid: 3 columns -->
                    <div class="masonry-grid" data-columns="2">

                        <!-- F.I.R.E. Definition -->
                        <div class="masonry-grid-item">
                            <div class="card card-hover">
                                <div class="card-body">
                                    <h5 class="card-title">What is F.I.R.E. ?</h5>
                                    <p class="card-text fs-sm">Financial Independence, Retire Early (FIRE) is a movement of people devoted to a program of extreme savings and investment that aims to allow them to retire far earlier than traditional budgets and retirement plans would permit.</p>
                                    <p><span class="text-muted fs-xs"><i>By clicking on the link below you'll be redirected to an external site.</i></span></p>
                                    <a href="https://www.investopedia.com/terms/f/financial-independence-retire-early-fire.asp" class="btn btn-sm btn-primary" target="_blank">Read more on Investopedia.com</a>
                                </div>
                            </div>
                        </div>

                        <!-- Inspirational Quote -->
                        <div class="masonry-grid-item">
                            <div class="card card-hover">
                                <div class="card-body">
                                    <blockquote class="blockquote text-center">
                                        <p class="extra-large text-heading fw-normal">
                                            <i>
                                                The best time to plant a tree was 20 years ago.<br>
                                                The second best time is now.
                                            </i>
                                        </p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>

                    </div> <!-- /.col -->
                </div> <!-- /.row -->
                {% endblock page_content %}

                {% block vendor_scripts %}
                {% comment %}
                <script src="{% static 'js/nouislider.min.js' %}"></script>
                {% endcomment %}
                {% endblock vendor_scripts %}
