        {% extends "base.html" %}
        {% load static i18n %}

        {% block vendor_styles %}
        <link rel="stylesheet" href="{% static 'css/fires-calculator.css' %}">
        {% endblock vendor_styles %}

        {% block javascript %}

        <!-- Resources -->
        <!-- Around Bootstrap Theme -->
        <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'js/shuffle.min.js' %}"></script>

        <!-- https://www.amcharts.com/demos/stacked-column-chart/ -->
        <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

        <!-- F.I.R.E.S. Calculator-->
        <script src="{% static 'js/fires-calculator-graph.js' %}" defer></script>
        <script src="{% static 'js/fires-calculator.js' %}" defer></script>

        {% endblock javascript %}

        {% block page_content %}

        <!-- F.I.R.E.S.calculator -->
        <div class="container my-5">

            <div class="row mb-5">
                <div class="col-sm-6 mx-auto">

                    <div class="card card-hover mb-5">
                        <div class="card-body">

                            <h5 class="card-title">F.I.R.E. Calculator</h5>

                            <p class="card-text fs-sm">Calculate your Financial Independence Retirement age here.</p>

                            <form id="fires-calculator-form" class="needs-validation mt-5" onSubmit="return firesCalculate();" novalidate>

                                {% csrf_token %}

                                <!-- Birth Year -->
                                <div class="row align-items-center mb-3">
                                    <label for="birthyear-input" class="col-md-4 col-form-label">Your Birth Year</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="number" id="birthyear-input" min="1900" max="2021" placeholder="1984" name="birth_year" value="1984" required>
                                        <div class="invalid-feedback">Please input your birth year as a number between 1900 and 2021.</div>
                                    </div> <!-- /.col-md-8 -->
                                </div> <!-- /. row -->

                                <!-- Retirement Duration In Years -->
                                <div class="row align-items-center mb-3 d-none">
                                    <label for="retirementduration-input" class="col-md-4 col-form-label">Retirement Duration In Years</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="number" id="retirementduration-input" min="1" max="99" placeholder="Your Retirement Duration In Years" name="years_duration" value="30" required>
                                        <div class="invalid-feedback">Please input your Retirement Duration In Years as a number between 1 and 99.</div>
                                    </div>
                                </div> <!-- /. row -->

                                <!-- Currency -->
                                <div class="row align-items-center mb-3 d-none">
                                    <label for="currency-input" class="col-md-4 col-form-label">Currency</label>
                                    <div class="col-md-8">
                                        <select class="form-select" id="currency-input" name="currency" required>
                                            <option value="">Choose option...</option>
                                            <option value="EUR" selected>EUR</option>
                                        </select>
                                        <div class="invalid-feedback">Please select your currency.</div>
                                    </div>
                                </div> <!-- /. row -->

                                <!-- Yearly Gross Income-->
                                <div class="row align-items-center mb-3">
                                    <label for="grossincomeperyear-input" class="col-md-4 col-form-label">Yearly Net Income</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="number" id="grossincomeperyear-input" name="income_gross_per_year" min="0" placeholder="30000" value="30000" required>
                                        <div class="invalid-feedback">Please input your Yearly Gross Income as a number greater than or equal to 0.</div>
                                    </div>
                                </div> <!-- /. row -->

                                <!-- Yearly Expenses -->
                                <div class="row align-items-center mb-3">
                                    <label for="portfoliointerestperyear-input" class="col-md-4 col-form-label">Yearly Expenses</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="number" id="expensesperyear-input" name="expenses_per_year" min="0" placeholder="25000" value="25000" required>
                                        <div class="invalid-feedback">Please input your Yearly Expenses as a number greater than or equal to 0.</div>
                                    </div>
                                </div> <!-- /. row -->

                                <!-- Portfolio Value -->
                                <div class="row align-items-center mb-3">
                                    <label for="portfoliovalue-input" class="col-md-4 col-form-label">Current Portfolio Value</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="number" id="portfoliovalue-input" name="portfolio_value" min="0" placeholder="1000" value="1000" required>
                                        <div class="invalid-feedback">Please input your Current Portfolio Value as a number greater than or equal to 0.</div>
                                    </div>
                                </div> <!-- /. row -->

                                <!-- Yearly Portfolio Interest -->
                                <div class="row align-items-center mb-3">
                                    <label for="portfoliointerestperyear-input" class="col-md-4 col-form-label">Yearly Portfolio Interest</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="number" id="portfoliointerestperyear-input" name="portfolio_percentage_per_year" min="-100" max="100" placeholder="10" value="10" required>
                                        <div class="invalid-feedback">Please input your Yearly Portfolio Interest as a number between -100 and 100.</div>
                                    </div>
                                </div> <!-- /. row -->

                                <!-- Yearly Inflation Percentage -->
                                <div class="row align-items-center mb-3">
                                    <label for="inflationpercentageperyear-input" class="col-md-4 col-form-label">Yearly Inflation Percentage</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="number" id="inflationpercentageperyear-input" name="inflation_percentage_per_year" min="-100" max="100" placeholder="2" value="2" required>
                                        <div class="invalid-feedback">Please input your Yearly Inflation Percentage as a number between -100 and 100.</div>
                                    </div>
                                </div> <!-- /. row -->

                                <!-- Agree to Terms and Conditions -->
                                <div class="row align-items-center mt-4 mb-3">
                                    <div class="col-md-8 ms-auto">
                                        <p class="card-text fs-sm">
                                            <i>
                                                The values you submit will not be visible to anyone, nor will they be saved, or shared with third parties.
                                            </i>
                                        </p>
                                    </div> <!-- /.col-md-8 -->
                                </div> <!-- /. row -->

                                <!-- Submit Button -->
                                <div class="row align-items-center mb-3">
                                    <div class="col-md-8 ms-auto text-center">

                                        <button id="submit-fires-calculator-form" class="btn btn-primary my-3" type="submit" onsubmit="() => firesCalculate();">Show my retirement age!</button>
                                    </div> <!-- /.col-md-8 -->
                                </div> <!-- /. row -->

                            </form>

                        </div> <!-- /.card-body -->
                    </div> <!-- /.card -->

                </div> <!-- /.col-sm-6 -->

                <div id="results-pane" class="col-sm-6 d-none">

                    <div class="row">
                        <div class="col">

                            <!-- Results -->
                            <div class="card card-hover mb-5">
                                <div class="card-body">

                                    <h5 class="card-title">Your Results</h5>

                                    <p class="card-text fs-sm">Submit different values and compare your results!</p>

                                    <div class="row">

                                        <div class="col-sm-3">

                                            <ul class="list-unstyled mb-0">
                                                <li class="d-flex pb-3">
                                                    <i class="ai-clock fs-lg mt-2 mb-0 text-primary"></i>
                                                    <div class="ps-3 text-sm-center">
                                                        <span class="fs-ms text-muted">Years until retirement</span>
                                                        <p id="results-months" class="card-text fs-lead fw-bold">N/A</p>
                                                    </div>
                                                </li>
                                            </ul> <!-- /.ul -->

                                        </div> <!-- /.col -->
                                        <div class="col-sm-3">

                                            <ul class="list-unstyled mb-0">
                                                <li class="d-flex pb-3">
                                                    <i class="ai-award fs-lg mt-2 mb-0 text-primary"></i>
                                                    <div class="ps-3 text-sm-center">
                                                        <span class="fs-ms text-muted">Retirement Age</span>
                                                        <p id="results-age" class="card-text fs-lead fw-bold">N/A</p>
                                                    </div>
                                                </li>
                                            </ul> <!-- /.ul -->

                                        </div> <!-- /.col -->
                                        <div class="col-sm-4">

                                            <ul class="list-unstyled mb-0">
                                                <li class="d-flex pb-3">
                                                    <i class="ai-star fs-lg mt-2 mb-0 text-primary"></i>
                                                    <div class="ps-3 text-sm-center">
                                                        <span class="fs-ms text-muted">Portfolio Value when retiring</span>
                                                        <p id="results-portfolio-value" class="card-text fs-lead fw-bold">N/A</p>
                                                    </div>
                                                </li>
                                            </ul> <!-- /.ul -->

                                        </div> <!-- /.col -->
                                    </div> <!-- /.row -->

                                </div> <!-- /.card-body -->
                            </div> <!-- /.card -->

                        </div> <!-- /.col -->
                    </div> <!-- /.row -->

                    <div class="row">
                        <div class="col">

                            <!-- Graph -->
                            <div class="card card-hover mb-5">
                                <div class="card-body">

                                    <p class="text-center">
                                        <span class="text-muted fs-xs">
                                            <i>
                                                Use the controls on top of the chart to zoom in to a particular period of time.<br>
                                                Drag the selected area left or right to move up or down the projected results.
                                            </i>
                                        </span>
                                    </p>

                                    <!-- https://www.amcharts.com/demos/stacked-column-chart/ -->
                                    <div id="chartdiv"></div>

                                    <p class="text-center mt-3">
                                        <span class="text-muted fs-xs">
                                            <i>
                                                Click on the colored squares to hide or show categories.
                                            </i>
                                        </span>
                                    </p>

                                </div> <!-- /.card-body -->
                            </div> <!-- /.card -->

                        </div> <!-- /.col -->
                    </div> <!-- /.row -->

                </div> <!-- /.col-sm-6 #result-pane -->

            </div> <!-- /.row -->

            <div class="row mb-5">
                <div class="col">

                    <!-- Masonry grid: 3 columns -->
                    <div class="masonry-grid" data-columns="2">

                        <!-- F.I.R.E. Definition -->
                        <div class="masonry-grid-item">
                            <div class="card card-hover">
                                <div class="card-body">
                                    <h5 class="card-title">What is F.I.R.E. ?</h5>
                                    <p class="card-text fs-sm">Financial Independence, Retire Early (FIRE) is a movement of people devoted to a program of extreme savings and investment that aims to allow them to retire far earlier than traditional budgets and retirement plans would permit.</p>
                                    <p><span class="text-muted fs-xs"><i>By clicking on the link below you'll be redirected to an external site.</i></span></p>
                                    <a href="https://www.investopedia.com/terms/f/financial-independence-retire-early-fire.asp" class="btn btn-sm btn-primary" target="_blank">Read more on Investopedia.com</a>
                                </div>
                            </div>
                        </div>

                        <!-- Inspirational Quote -->
                        <div class="masonry-grid-item">
                            <div class="card card-hover">
                                <div class="card-body">
                                    <blockquote class="blockquote text-center">
                                        <p class="extra-large text-heading fw-normal">
                                            <i>
                                                The best time to plant a tree was 20 years ago.<br>
                                                The second best time is now.
                                            </i>
                                        </p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>

                    </div> <!-- /.col -->
                </div> <!-- /.row -->

                {% endblock page_content %}
